{% load wagtailcore_tags wagtailimages_tags %}
{% load embed_video_tags %}


<section>
  <h3>Featured</h3>

{% if vids or embeds %}
    <!-- Mini Posts -->
      <div class="mini-posts">

        {% if vids %}
            {% for vid in vids %}
                {% video vid.video.url as video %}
                <!-- Mini Post -->
                <article class="mini-post">
                  <header>
                    {% if vid.title %}
                        <h3><a href="{{ video.url }}">{{ vid.title }}</a></h3>
                    {% endif %}
                    {% if vid.description %}
                        <p>{{ vid.description }}</p>
                    {% endif %}
                  </header>
                  <a href="#" class="image">
                      <iframe width="100%" height="100%" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
                  </a>
                </article>
                {% endvideo %}
            {% endfor %}
        {% endif %}

        {% if embeds %}
            {% for child in embeds %}
                {% if child.block_type == 'twitter' %}
                    <!-- Mini Post -->
                    {{ child }}
                {% elif child.block_type == 'reddit' %}
                    <!-- Mini Post -->
                    {{ child }}
                {% endif %}
            {% endfor %}
        {% endif %}

      </div>

{% else %}
    <p>No featured content yet!</p>
{% endif %}
</section>
