{% load wagtailcore_tags wagtailimages_tags %}

{% if posts %}
    {% for post in posts %}
        <!-- Post -->
        <article class="post">
          <header>
            <div class="title">
                <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                <p>{{ post.subtitle }}</p>
            </div>
            <div class="meta">
                <time class="published" datetime="{{ post.date }}">{{ post.date }}</time>
                {# <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a> #}
            </div>
          </header>
          {% if post.feed_image %}
              <a href="{% pageurl post %}" class="image featured">
                  {% image post.feed_image original %}
              </a>
          {% endif %}
          {{ post.body }}
          <footer>
            <ul class="actions">
              <li><a href="#" class="button big">Continue Reading</a>
              </li>
            </ul>
            <ul class="stats">
              <li><a href="#">General</a>
              </li>
              <li><a href="#" class="icon fa-heart">28</a>
              </li>
              <li><a href="#" class="icon fa-comment">128</a>
              </li>
            </ul>
          </footer>
        </article>
    {% endfor %}
{% else %}
    <h1>NO POSTS YET!</h1>
{% endif %}

